@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;500&display=swap");
@import url('../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@import url('../fonts/CeraPro/stylesheet.css');
@import "../scss/home";
@import "../scss/header";
@import "../scss/aboutMe";
@import "../scss/work";
@import "../scss/portfolio";
@import "../scss/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #181818;
  max-width: 100vw;
}


@media (max-width: 1200px) {
 .home__title {
    font-size: 80px;
    }

    .home__subtitle {
      font-size: 74px;
    }

  .aboutMe {
    padding-top: 266px;
  }
  .aboutMe .container{
    margin-left: 66px;

  }
  .aboutMe .block {
    margin-right: 20px;
  }
  .aboutMe__img {
    width: 270px;
    height: 410px;
  }
  .aboutMe__img:nth-child(2) {
    width: 270px;
    height: 300px;
    right: -310px;
    top: -77px;
  }
  .aboutMe__img:nth-child(3) {
    width: 270px;
    height: 300px;
    right: -310px;
    bottom: -150px;
  }
  .aboutMe__descr {
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  
  .work {
    padding: 180px 0 26px 0;
  }

  .work__title {
    margin: 70px 0 50px 70px;
  }

  .work .wrapper {
    width: 305px;
  }
  .portfolio__title {
    margin: 70px 0 10px 70px;
  }
  .portfolio__main {
    overflow-y: hidden;
    height: 500px;
  }
  .portfolio__main-block-img {
    height: 500px;
  }
  .portfolio__main-block::before {
    height: 500px;
  }
  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 992px) {
.home__subtitle {
    font-size: 60px;
    line-height: 50px;

}

.home__title {
    font-size: 70px;
}
  .aboutMe {
    padding: 140px 0 290px 0;
}
  .aboutMe .block {
    margin-right: 143px;
  }
  .aboutMe__img {
    width: 270px;
    height: 300px;
  }
  .aboutMe__img:nth-child(2) {
    width: 270px;
    height: 270px;
    right: -119px;
    top: 337px;
  }
  .aboutMe__img:nth-child(3) {
      width: 270px;
      height: 270px;
      right: 193px;
      bottom: -289px;
    }
  .aboutMe__title {
    font-size: 45px;
    margin-left: 30px;
  }
  .aboutMe__descr {
    max-width: 282px;
    font-size: 20px;
  }
  .aboutMe__descr:last-child {
    max-width: 384px;
  }
  .work {
    padding: 50px 0;
  }

  .work__title {
    font-size: 39px;
    margin: 70px 0 20px 0px;
  }

  .work .wrapper {
    width: 300px;
  }

  .portfolio{
    padding-top: 65px;
  }

  .portfolio .main {
    height: 640px;
  }

  .portfolio .main-block-img {
    height: 640px;
  }

  .portfolio__title {
    margin: 70px 0 10px 0px;
  }
  .portfolio__line {
    margin-top: 20px;
}
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .container {
    margin-left: 0;
  }
  .aboutMe .container{
    margin-left: 60px;
  }
  .nav {
    position: fixed;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background: #4985ff80;
    transition:  0.6s all linear;
    z-index: 2;
    
     .nav-item {
      font-size: 40px;
      font-weight: 600;
      margin: 0px 0 50px 0;
      &:hover{
        color: black;}
    }
    &.active {
      display: flex;
      top: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
    }
  }
  .burger {
    z-index: 5;
    top: 10px; left: 0;
    display: block;
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: relative;
    &.active {
      .burger__line {
        background: none;
        &::before {
          transform: rotate(45deg);
          top: 0;
        }
        &:after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }
    &__line {
      width: 30px;
      height: 3px;
      background: white;
      position: relative;
      border-radius: 12px;
      transition: 0.4s;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: -8px;
        left: 0;
        transition: 0.6s;
        border-radius: 12px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: -8px;
        left: 0;
        transition: 0.6s;
        border-radius: 12px;
      }
    }
  }
  .home__subtitle {
    font-weight: 600;
    font-size: 44px;
    color: white;
  }
  .home__title {
    font-size: 40px;
  }
  .home__subtitle {
    font-size: 44px;
  }
  .aboutMe__title {
    font-size: 29px;
    margin: 0;
  }

  .aboutMe .block {
    margin-right: 0;
  }

  .aboutMe .block:last-child {
    margin-right: -108px;
  }

  .aboutMe__descr {
    max-width: 246px;
    font-size: 18px;
  }

  .aboutMe__img {
    width: 270px;
    height: 335px;
  }

  .aboutMe__img:nth-child(3) {
    width: 270px;
    height: 350px;
    left: -345px;
    bottom: -380px;
  }

  .aboutMe__img:nth-child(2) {
    width: 270px;
    height: 350px;
    right: 30px;
    top: 369px;
  }
  .work {
    padding: 130px 0 71px 0;
  }

  .work__title {
    font-size: 29px;
  }

  .work .wrapper {
    width: 255px
  }

  .portfolio {
    padding-top: 60px;
  }
  .portfolio__title {
    margin: 0px 0 10px 0px;
}
}

@media (max-width: 576px) {
  .aboutMe .container {
    margin-left: auto;
  }
  .home__title {
    font-size: 32px;
  }

  .home__yeti {
    width: 55px;
    height: 55px;
  }
  .aboutMe .container {
    flex-wrap: wrap;
  }

  .aboutMe .block {
    margin: auto;
  }

  .aboutMe .block:last-child {
    margin: auto;
  }

  .aboutMe__descr:last-child {
    max-width: 416px;
    margin: 20px 0 40px 0;
  }
  .aboutMe__img:nth-child(2) {
    right: 0;
  }

  .aboutMe__img:nth-child(3) {
    width: 270px;
    height: 350px;
    left: 0;
    bottom: -773px;
  }
  .work {
    padding-top: 540px;
  }

  .work__title {
    margin: 0 0 17px 17px;
  }
  .work .wrapper{
    width: 289px;
  }

  .portfolio__title {
    margin: 0px 0 10px 50px;
  }
  
  .portfolio__main-block1 {
    min-width: 385px;
  }

}

@media (max-width: 414px) {
  .home__subtitle {
    font-size: 39px;
  }

  .portfolio .main-block1 {
    min-width: 391px;
  }

  .portfolio .main-title {
    margin: 70px 0 100px 0px;
  }

  
  
}


@media (max-width: 411px){

  .home__subtitle {
    font-size: 32px;
  }

  .home__title {
    font-size: 23px;
  }

  .portfolio__title {
    margin: 0px 0 10px 10px;
    font-size: 31px;
  }
  .portfolio .main-block1 {
    min-width: 336px;
  }

  .portfolio .main-title {
    font-size: 32px;
    margin: 70px 0 100px 0px;
  }

    
}

@media (max-width: 320px){
  .home__subtitle {
    font-size: 29px;
  }
  .home__title {
    font-size: 21px;
  }

  .work .wrapper {
    width: 244px;
  }
  
  .work__title {
    font-size: 22px;
    margin: 0 0 17px 12px;
  }

  .portfolio__title {
    margin: 0px 0 10px 12px;
    font-size: 31px;
}
  .portfolio .main-block1 {
    min-width: 279px;
  }

  .portfolio .main-title {
    font-size: 32px;
  }
  .portfolio .main {
    height: 466px;
  }
  .portfolio .main-block-img {
    height: 466px;
  }
  .arrow-right {
    color: #4985ff;
    font-size: 28px;
    position: absolute;
    top: 44%;
    left: 89%;
  }
  
}