.header {
  width: 100%;
  padding: 10px;
  transition: all 0.6s linear;
      position: fixed;

  &_sticky {
    background: #131313;
    z-index: 2;
  }

  .nav {
    justify-content: flex-end;
    &-container {
      margin-top: 10px;
    }
    &-item {
      color: white;
      text-decoration: none;
      margin-right: 20px;
    font-family: "Cera Pro", sans-serif;
      transition: 0.3s;
      margin-top: 12px;
      &:hover {
        color: #4985ff;
        transition: 0.3s;
      }
    }
    &-git {
      font-size: 35px;
      color: white;
      margin-right: 20px;
    }
  }
}
